#calendar .fc-col-header-cell-cushion,
#calendar .fc-daygrid-day-number {
    text-decoration: none;
    color: #000;
}

input,
textarea,
select {
    transition: 0.3s ease;
    /* padding: .5em 1em .5em 1em !important; */
    border-radius: 20px !important;
}

.rounded-20px {
    border-radius: 20px !important;
}

#myTabjustified .nav-item .active, #myTabjustified .nav-item:hover, #myTabjustified .nav-item, #myTabjustified .nav-item .nav-link{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

label {
    color: #818181;
}

.error-field {
    border: 0.5px solid red !important;
}

.error-field-file {
    border: 2px dashed red !important;
}

#datatable_filter input[type="search"] {
    padding-inline: 1rem;
    padding-block: 0.44rem;
}

table {
    font-family: "Open Sans", sans-serif !important;
}

table tbody tr td {
    align-items: center;
    vertical-align: middle;
}

table tbody tr {
    padding: 2rem;
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: blue;
    color: #ffffff;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creator{
    margin: 0;
    width: 25rem;
    font-size: 0.7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.title {
    margin: 0;
    width: 25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.description {
    margin: 0;
    color: rgb(77, 77, 77);
    font-size: 0.9rem;
    width: 25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.date-event {
    color: #012970;
    text-align: end;
    margin: 0;
    font-size: 1rem;
}

.date-created {
    text-align: end;
    margin: 0;
    color: rgb(77, 77, 77);
    font-size: 0.9rem;
}

.form-control-file-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.form-control-file {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.form-control-file-label {
    background-color: #fff;
    padding: 3rem;
    border: 2px dashed rgb(202, 202, 202);
    border-radius: 0.5rem;
    text-align: center;
    display: block;
    cursor: pointer;
}

.form-control-clear-button {
    position: absolute;
    top: 10px;
    right: 30px;
    display: none;
    cursor: pointer;
}

.bootstrap-datetimepicker-widget .picker-switch a {
    color: black !important;
}

.bootstrap-datetimepicker-widget .picker-switch a:hover {
    color: black !important;
}

.bootstrap-datetimepicker-widget table.table-condensed th.prev span,
.bootstrap-datetimepicker-widget table.table-condensed th.next span {
    color: black !important;
    content: ">";
}


.select2-container{
    z-index: 9999;
}

.select2-search--dropdown{
    display: none;
}

/* @media screen and (max-width: 826px) { */
    #calendar .fc-header-toolbar, #calendar .fc-footer-toolbar{
        display: block;
        justify-content: center;
    }

    #calendar button{
        background-color: #0d6efd;
        border: #0d6efd;
        outline: #0d6efd;
    }
    #calendar button:hover{
        background-color: #2a7fff;
        border: #2a7fff;
        outline: #2a7fff;
        gap: 1px;
    }
    
    #calendar .fc-toolbar-chunk{
        display: flex;
        justify-content: center;
        width: inherit;
    }
    #calendar .fc-toolbar-chunk div, #calendar .fc-toolbar-chunk button{
        flex-grow: 1;
    }
/* } */

@media screen and (max-width: 676px) {
    .title, .description, .creator{
        width: 10rem;
    }
    .date-created {
        display: none;
    }
    .date-event {
        display: none;
    }
}
