ul.floating-menu {
    position: absolute;
    background-color: #000;
    border-radius: 4px;
    padding-left: 0;
}

ul.floating-menu[data-fm-floated="top"]:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -9px;
    left: 50%;
    margin-left: -9px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #000;
}

ul.floating-menu[data-fm-floated="left"]:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 50%;
    margin-bottom: -9px;
    right: -9px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #000;
}

ul.floating-menu[data-fm-floated="right"]:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 50%;
    margin-bottom: -9px;
    left: -9px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #000;
}

ul.floating-menu[data-fm-floated="bottom"]:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -9px;
    left: 50%;
    margin-left: -9px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #000;
}

ul.floating-menu li {
    list-style: none;
    position: relative;
    float: left;
    height: 100%;
}

ul.floating-menu li a {
    position: relative;
    float: left;
    color: #fff;
    font-size: 13px;
    padding: 4px 12px;
    text-decoration: none;
    line-height: 32px;
}

ul.floating-menu li .fm-icon {
    position: relative;
    float: left;
    margin-right: 8px;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

ul.floating-menu.animated {
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    -ms-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
}

ul.floating-menu.visible-transit {
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

/* Animations */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

[data-fm-floated="left"].fadeInPosition {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

[data-fm-floated="right"].fadeInPosition {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

[data-fm-floated="top"].fadeInPosition {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

[data-fm-floated="bottom"].fadeInPosition {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
